<%= render '/home/navigation' %>
<%if @project == nil %>
  <div class="projectDescription">
    <h3 class="projectTitle">
      Project Not Found!
    </h3>
    <p class="projectText">
      Sorry buddy, maybe you got this projects name wrong? Make sure to check the URL for capitals or spaces (there shouldn't be any).
    </p>
  </div>
<% else %> 
  <div class='projectJumbotron'>
    <%= image_tag @project.jumbotron.url(:jumbotron) %>
  </div>
  <div class="projectDescription">
    <h3 class="projectTitle">
      <%= @project.name %>
    </h3>
    <p class="projectText">
      <%= @project.description %>
    </p>
  </div>
  <!-- layout for 3 vertical detail pics -->
  <div class="projectThreeDetails">
       
  </div>
  <!-- for 2 half width detail shots
  <div class ="projectTwoDetails">
    <img  src="#" alt="#"/>
    <img  src="#" alt="#"/>
  </div>-->
  <div class="projectInfo">
    <h3>PROJECT</h3>
    <h2><%= @project.name %></h2>
    <% if @project.client != '' %>
      <h3>CLIENT</h4>
      <h2><%= @project.client %></h2>
    <% end %>
    <h3>PROCESSES</h3>
    <h2><%= @project.proccesses %></h2>
  </div>
  <div class="projectNav">
    <p>
      <a href='#'>&#8592;Prev</a>
      - <a href='feastWork.html'>All Projects</a> -
      <a href='#'>Next&#8594;</a>
    </p>
  </div>
<% end %>