<%= render '/home/navigation' %>
<%if @project == nil %>
  <div class="projectDescription">
    <h3 class="projectTitle">
      Project Not Found!
    </h3>
    <p class="projectText">
      Sorry buddy, maybe you got this projects name wrong? Make sure to check the URL for capitals or spaces (there shouldn't be any).
    </p>
  </div>
<% else %> 
  <div class='projectJumbotron'>
    <%= image_tag @project.jumbotron.url(:jumbotron) %>
  </div>
  <div class="projectDescription">
    <h3 class="projectTitle">
      <%= @project.name %>
    </h3>
    <p class="projectText">
      <%= @project.description %>
    </p>
  </div>
  <% if @project.video_url %>
    <div class='projectJumbotron'>
      <iframe src=<%= "https://player.vimeo.com/video/#{@project.video_url}" %> height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  <% end %>
  <% if @project.jumbotron_detail_file_name %>
  <div class="projectJumbotron">
    <%= image_tag @project.jumbotron_detail.url(:preview) %>
  </div>
  <% end %>
  <% if @project.half_detail1_file_name %>
  <div class="projectHalfDetails">
    <%= image_tag @project.half_detail1.url(:preview) %><!--
    --><%= image_tag @project.half_detail2.url(:preview) %>
  </div>
  <% end %>
  <% if @project.half_detail_square1_file_name %>
  <div class="projectHalfDetails">
    <%= image_tag @project.half_detail_square1.url(:preview) %><!--
    --><%= image_tag @project.half_detail_square2.url(:preview) %>
  </div>
  <% end %>
  <% if @project.thirds_detail1_file_name %>
  <div class="projectThreeDetails">
    <%= image_tag @project.thirds_detail1.url(:preview) %><!--
    --><%= image_tag @project.thirds_detail2.url(:preview) %><!--
    --><%= image_tag @project.thirds_detail3.url(:preview) %>
  </div>
  <% end %>
  <div class="projectInfo">
    <h3>PROJECT</h3>
    <h2><%= @project.name %></h2>
    <% if @project.client != '' %>
      <h3>CLIENT</h4>
      <h2><%= @project.client %></h2>
    <% end %>
    <h3>PROCESSES</h3>
    <h2><%= @project.proccesses %></h2>
  </div>
  <div class="projectNav">
    <p>
      <a href='#'>&#8592;Prev</a>
      - <a href='feastWork.html'>All Projects</a> -
      <a href='#'>Next&#8594;</a>
    </p>
  </div>
<% end %>