<div id="cmsWrapper" >
  <div class='row'>
    <h1 class='projectsTitle'>Projects</h1>
  </div>
  <div class='row'>
    <div class="col-md-10 col-xs-10">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Client</th>
            <th>Published</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |proj| %>
            <tr>
              <% if proj.thumbnail %>
                <td>
                  <%= image_tag proj.thumbnail.url(:preview) %>
                </td>
              <% else %>
                <td></td>
              <%end%>
              <td>
                <%= link_to proj.name, project_path(proj) %>
                <br>
                  (/<%= proj.displayname %>) 
                <br>
                  <% if proj.video_url != ''%>
                    <h5>VIDEO</h5>
                  <% end %>
                </td>
              <td>
                <%= proj.client %>
              </td>
              <% if proj.is_published %>
                <td>
                  <p style="color:green">&#10004;</p>
                </td>
              <% else %>
                <td>
                  <p style="color:red">&#10006;</p>
                </td>
              <%end%>
              <td>
                <%= link_to "Edit", edit_project_path(proj) %> | 
                <%= link_to "Delete", project_path(proj), method: :delete,  data: {confirm: "Are you sure you want to delete this project?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>  
      <%= link_to "New Project", new_project_path, method: :get, class: 'btn btn-primary' %>  
    </div>
  </div>
</div>