<%= simple_form_for @project, html: {multipart: true} do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prevented this project from being created
      </h2>

      <ul>
        <% @project.errors.full_messages.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: 'Project Name' %>
  <%= f.input :displayname, hint: 'Cannot have Uppercase Letters or Spaces',  placeholder: 'projectname'%>
  <%= f.input :client, placeholder: 'Client\'s Name'%>
  <%= f.input :proccesses, placeholder: 'Sculpting, Life Casting, etc.'%>
  <%= f.input :description, placeholder: 'Max. 500 characters', input_html: {maxlength: 500, rows: 5}, as: :text %>
  <%= f.input :is_published, inline_label: 'Published', hint: 'Project will not appear on portfolio page until PUBLISHED',  placeholder: '/projectname' %>

  <%= f.association :categories, as: :check_boxes, placeholder: 'Used for sorting projects on main porfolio page.' %>
  
  <%= f.button :submit %>

<% end %>