<p><%= link_to "&#8656; Back to Projects".html_safe, projects_path %></p>
<div class='title'><h1> <%= @project.name  %><h1></div>
<p><em> <%= @project.client %> <em></p>
<h3>Thumbnail Preview:</h3>
<%= image_tag @project.thumbnail.url(:preview) %>
<br>
<h3>Preveiw of Images</h3>
<%= image_tag @project.jumbotron.url(:preview) %>
<br>
<%= image_tag @project.half_detail1.url(:preview) %>
<%= image_tag @project.half_detail2.url(:preview) %>
<h3>Proccesses: </h3>
<h4><%= @project.proccesses %></h4> 
<br>
<h3>Description: </h3>
<p><%= @project.description %></p>
<br>
<h3>Categories</h3>
<ul>
<% @project.categories.each do |c| %>
    <li><h5><%= c.name %></h5></li>
<% end %>
</ul>
<br>
<% if @project.is_published %>
  <p style="color:green">Published</p>
<% else %>
  <p style="color:red">Unpublished</p>
<% end %>


