<div id="footer">
  <ul class="footerText">
    <li class='footerLink' ><%= link_to "Home", root_path %></li>
    <li class='footerLink' ><%= link_to "Portfolio", works_path %></li>
    <!-- <li><a href="feastWork.html">Portfolio</a></li> -->
    <li class='footerLink' ><a href="about.html">About</a></li>
    <%= link_to "Contact", new_contact_path, class: 'footerLink' %>
    <li class='footerLink' ><a href="#">Blog</a></li>
    <% if current_user %>
      <li class='footerLink' ><%= link_to "CMS", admin_path %></li>
    <% else %>
      <li class='footerLink' ><%= link_to "Sign In", login_path %></li>
    <% end %>
  </ul>
</div>